<div class="school-year">
	<h1 class="sl-yr-title">School Year Information</h1>
	<p class="sl-yr-info">
		Students will return to our center once school is let out and receive a snack.  Then they are given the remainder of the afternoon to play in our various educational centers, such as, dramatic play, game board center, outdoor play, computer educational games, etc. 
	</p>
	<div>
		<h2>
			Afterschool Pick-Up Locations:
		</h2>
		<div>
			<ul>
				<li>
					<a href="http://mendenhall.mysdhc.org/">
						Mendenhall Elementary
					</a>
				</li>
				<li>
					<a href="http://www.sdhc.k12.fl.us/schools/4241/">
						Tampa Bay Elementary
					</a>
				</li>
				<li>
					<a href="">
						Trinity School for Children
					</a>
				</li>
				<li>
					<a href="">
						Oak Grove Elementary
					</a>
				</li>
			</ul>
		</div>
	</div>
	<a href="">Additional Schools</a>
</div>
<br>
<br>

<div>
	<h2>
		Summer Camp Information
	</h2>
	<p>
		During our Summer Camp, your student will enjoy a summer of fun with a secret side of education.  We have different themes every few weeks to expand our students’ knowledge.  We will start with a Carnival theme and end in the Olympics.  We take the school-age students to the United Skates Skating rink every Monday, have Food Experiences on Tuesday, and alternate between to a Book Reading at the public library or Bowling at Pin Chasers.  We like to end the long hot weeks with a Water Play for the Day when the weather allows us as well.  We look forward to seeing you this summer, hope you come out, and join our Summer of Fun 
		in the Sun!
	</p>
	<div>
		<h3>
			Summer Camp Schedule
		</h3>
		<p>
			Monday: Skating (9am- 2pm)<br>
			Tuesday: Food Expierence<br>
			Wednesday: Book Read-A-Loud<br>
			Thursday: Bowling (Every 2 Weeks)<br>
			Friday: Water Day (Weather Permits)<br>
		</p>
	</div>
</div>
