<div class="mission">
	<h2>
		Mission Statement
	</h2>
	<div>
		Kids' Clubhouse Inc. strives to serve our community and families by providing each child with quality care in a safe, friendly and nurturing environment.  Children learn sharing and confidence through cooperative play.  Love, respect, security, and discipline through teacher example and interactions.  They develop strong and positive relationships with adults and other children. Growth, exploration, 
		creativity and strong self-image, will develop with a developmentally appropriate learning program. Our goal is to teach your child how to succeed as an individual and learn the qualities necessary for them to become a well-prepared and productive member of society.
	</div>
</div>
<br>
<br>
<div>
	<div class="credentials-title">
		Center Credentials
	</div>
	<div>
		<ul>
			<li>Gold Seal Quality of Care(DCF Childcare Services)</li>
			<li>VPK Program Provider</li>
			<li>A.P.P.L.E. Accredited</li>
			<li>FACCM Member</li>
			<li>ELL Member</li>
			<li>Quality COuntes for Kids participant with the highest Level 5 designation</li>
		</ul>
	</div>
</div>

